@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Akzidenz Roman', Helvetica, Arial, sans-serif;
}

.slideLeft {
  visibility: visible !important;
  animation: slideLeft 0.15s ease-in-out;
}

.fadeIn {
  visibility: visible !important;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }

  00% {
    transform: translateX(-5%);
    backdrop-filter: blur(10px);

    opacity: 0.4;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%);
    opacity: 0;
  }
  00% {
    -webkit-transform: translateX(-5%);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes growIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.growIn {
  visibility: visible !important;
  animation: growIn 0.15s ease-in-out;
}

.slideInUp {
  visibility: visible !important;
  animation: slideInUp 0.15s ease-in-out;
}

.scaleIn {
  visibility: visible !important;
  animation: scaleIn 0.15s ease-in-out;
}

.scaleOut {
  visibility: visible !important;
  animation: scaleOut 0.15s ease-in-out;
}

.slideIn {
  visibility: visible !important;
  animation: slideIn 0.2s ease-in-out;
}

.slideOut {
  visibility: visible !important;
  animation: slideOut 0.15s ease-in-out;
}

.slideInRight {
  visibility: visible !important;
  animation: slideInRight 0.15s ease-in-out;
}

.slideOutRight {
  visibility: visible !important;
  animation: slideOutRight 0.15s ease-in-out;
}

.slideInLeft {
  visibility: visible !important;
  animation: slideInLeft 0.15s ease-in-out;
}

.slideOutLeft {
  visibility: visible !important;
  animation: slideOutLeft 0.15s ease-in-out;
}

.slideOutUp {
  visibility: visible !important;
  animation: slideOutUp 0.15s ease-in-out;
}

.slideInUp {
  visibility: visible !important;
  animation: slideInUp 0.15s ease-in-out;
}

.slideInDown {
  visibility: visible !important;
  animation: slideInDown 0.15s ease-in-out;
}

@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

#index-loader {
  left: 47%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3b82f6;
  box-shadow: blur(4px) 0px 0px 5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 0.6s linear infinite;
  z-index: 0;
}
