.dynamic-text {
  background: linear-gradient(45deg, #05a89d, #556270);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: changeGradient 4s linear infinite alternate,
    fadeInOut 4s ease-in-out infinite;
}

@keyframes changeGradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 1;
  }
  20%,
  80% {
    opacity: 0;
  }
}
