# fly.toml app configuration file generated for blue-waterfall-5470 on 2023-09-30T17:28:20+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "blue-waterfall-5470"
primary_region = "lhr"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
