name: Publish sacred_texts to npmjs

on:
   push:
      branches:
         - main

jobs:
   build:
      name: Change to package directory
      runs-on: ubuntu-latest
      steps:
         - name: Checkout code
           uses: actions/checkout@v4

         - name: Set up Node.js
           uses: actions/setup-node@v3
           with:
              node-version: '20.x'
              registry-url: 'https://registry.npmjs.org'
         - name:
              Check Node.js and npm
              versions
           working-directory: shared/micu-ui
           run: |
              node -v
              npm -v
              npm ci
              npm publish
           env:
              NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
